@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


/* universal selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

/* Nav Bar */
.image{
    background-image: url(assets/logo-navbar.png);
    height: 60px;
    width: 140px;
    background-repeat: no-repeat;
}
nav{
    max-width: 1600px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-left:120px;
    margin-right: 120px;
    padding-top: 15px;
    margin-bottom: 20px;
}
.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    gap: 25px;
    color: #0F3D2E;

}

/* common items */
.btn{
    padding: 12px 16px ;
    background-color: #1B5E20;
    border: none;
    color:rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 16px;
    font-style: Semi Bold;
    text-transform: capitalize;
    border-radius: 7px;
}
.btn:hover{
    background-color: transparent;
    border: 3px solid #001931;
    color: #001931;

}
.b2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hero-section{
    background-image: url(./assets/hero-bg.png);
    width: 100%;
    height: 674px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}
.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 115px;
    left: 120px;
    /* max-width: 1360px; */
    margin: 0 auto;
    width: 85%;
}

.early-access-badge a {
    text-decoration: none;
    color: #0F3D2E;
    background-color: white;
    border-radius: 50px;
    padding: 8px 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 16px;
}

.dot-icon {
    width: 16px;
    background-color: #30b868;
    height: 16px;
    border-radius: 50%;
}  


.hero-content h1{
    color: white;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
}
.hero-content span{
    color: #1B5E20;
    line-height: 84px;
}
.hero-content p{
    color: white;
    margin-bottom: 17px;
    line-height: 25px;
}
.b2 button{
    padding: 12px 16px;
    color: white;
    background-color: #1B5E20;
    font-weight: bold;
    border: none;
    border-radius: 7px;
}
.b2 button:hover, #b3:hover{
    background-color: transparent;
    border: 3px solid #010911;
    color: #FFFFFF;

}
#b4:hover{
    background-color: transparent;
    border: 3px solid #010911;
    color: black;
}
.main{
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
}

.main h3{
    font-weight: bold;
    font-size: 55px;
    line-height: 84px;
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;

}
.main p{
line-height: 20px;
font-size: 16px;
color: #627382;
text-align: center;

}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 322px;
    height: 300px;
    align-items: center;
    gap:16px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-top: 24px;
    border-radius: 8px;
}
.card-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;

    
}
.card h2{
    font-size: 18px;
}

.img-container{
    display: flex;
    height: 60px;
    width: 60px;
    background-color: #F95555;
    border-radius: 50%;
    align-items:center;
    justify-content: center;
    

}


.container2 img{
    height: 600px;
    width: 600px;
}
.main2{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center
}
.main3{
    border-radius: 12px;
}
.container-text{
    width: 700px;
    height: 396px;
    margin-top: 200px;
}
.container-text h5{
    line-height: 20px;
    font-size: 16px;
    color: #30b868;
}
.container-text h2{
    font-size: 48px;
    margin-bottom: 16px;
}
.container-text p{
color: #627382;
line-height: 20px;
font-size: 16px;
width: 700px;
height: 60px;
}

.min3{
    height: 384px;
    width: 1360px;
    background-color: #f7f6f2;
    text-align: center;
    justify-content: space-between;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 40px auto;
}
.container-text ul{
    list-style: none;
    list-style-image: url(./assets/CheckCircle.png);
    align-items: center;
    margin-left: 25px;
    line-height: 20px;
    font-size: 16px;
}
.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.article h2{
    margin-bottom: 16px;
    text-align: center;
}
.article p{
    line-height: 20px;
    font-size: 16px;
    color: #627382;
}
.b2 button:nth-child(2){
    background-color: transparent;
    border: 4px solid #FFFFFF;
    color: white;
    
}


.btn-with-icon {
    background-color: #4A8B63;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.btn-icon {
    width: 18px;
    height: auto;
}
.footer{
    height: 348px;
    width: 1600px;
    background-color: #001931;
}
.footer{
    display: flex;
    justify-content: space-between;
}
footer {
    background-color: #001931;
    color: white;
    padding: 60px 120px 30px 120px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
}

.footer-logo img {
    height: 60px;
    width: 139px;
}

.social-section h3 {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 700;
    line-height: 28px;
}

.social-icons {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}

.social-icons img {
    width: 24px;
    height: 24px;
}

.footer-line {
    border: 0;
    margin-bottom: 30px;
}

.copyright {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
}
footer hr{
    background-color: #E5E7EB;
    border: none;
    height: 2px;
    margin-bottom: 16px;
}









