@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


/* universal selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

/* Nav Bar */
.image{
    background-image: url(assets/logo-navbar.png);
    height: 60px;
    width: 140px;
    background-repeat: no-repeat;
}
nav{
    max-width: 1600px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-left:120px;
    margin-right: 120px;
    padding-top: 15px;
    margin-bottom: 40px;
}
.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    gap: 25px;
    color: #0F3D2E;

}

/* common items */
.btn{
    padding: 12px 16px ;
    background-color: #1B5E20;
    border: none;
    color:rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 16px;
    font-style: Semi Bold;
    text-transform: capitalize;
    border-radius: 7px;
}

.hero-section{
    background: url(assets/hero-bg.png);
    background-size: cover;
    height:600px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    
}
.text {
background-color: white;
max-width: 183px;
text-decoration: none;
margin: 0 auto;
padding: 6px 10px;
border-radius: 15px;



}
.text a{
    text-decoration: none;
    color: #0F3D2E;
    display: inline;
    font-size: 13px;
    
}

.hero-content{
    text-align: center;
    
}
.b2 a{
    color: white;
    gap: 15px;
    text-decoration: none;
    display:flex
    font-size: 13px;
    background-color: #1B5E20;
    
}
.b2{
    width: 440px;
    display: flex;
    gap: 20px;
    text-align: center;
    
    
}
.b2 button{
    background-color: #1B5E20;
    border: none;
    padding: 12px;
    border-radius: 4px;
    color: white;
    
}
